@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #080d14;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btn-animation1 {
    @apply transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 text-amber-300 hover:text-slate-400;
  }

  .item {
    @apply cursor-pointer;
  }

  .item:hover .item-caption {
    @apply block duration-150 ease-in-out scale-105 transition-all;
  }
}

.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}
